*{
    font-size: 16px;
    color: white;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(125, 158, 248);
    background-image: url("./assets/cinema.jpg");
    background-size: 100% 100%;
}

.all{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 50%;
}

.dadosLogin{
    display: flex;  
    justify-content: center; 
    flex-direction: column;
    margin: 4px;
    padding: 30px;
    border: 5px solid black;
    border-radius: 40px;
    background-color: rgb(69, 69, 223);
}

.hide{
    display: none;
}

.show{
    display: flex;  
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    margin: 4px;
    padding: 30px;
    border: 5px solid black;
    border-radius: 40px;
    background-color: rgb(69, 69, 223);
}

#search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

.recado{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 35px;
}

#titulo{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-bottom: 30px;
}

#link{
    color: white;
    font-weight: bolder;  
    font-size: 25px; 
}

#link:hover{
    color: rgb(1, 1, 124);
}

#pergunta{
    font-size: 25px;
    margin: 2px;
}

.inputs{
    margin:3px;
    width: 100%;
    border: 2px solid black;
    color: black;
    width: 70%;
}

::-webkit-input-placeholder{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.botao1{
    margin: 3px;
    width: 50%;
    border: 2px solid white;
    background-color: rgb(1, 1, 124);
    font-weight: bolder;
    margin-top: 15px;
}   

.botao1:hover{
    box-shadow: 0px 0px 8px 5px rgba(255, 255, 255, 0.527);
}

.insert{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.botao2{
    margin: 3px;
    width: 70%;
    border: 2px solid white;
    background-color: rgb(1, 1, 124);
    font-weight: bolder;
}

.botao2:hover{
    box-shadow: 0px 0px 8px 5px rgba(255, 255, 255, 0.527);
}

p{
    margin: 0px;
}

.instrucao{
    margin: 0px;
    width: 70%;
}

@media (max-width: 1024px){
    *{
        font-size: 14px;
        color: white;
    }

    #titulo{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        margin-bottom: 30px;
    }
    
    #link{
        color: white;
        font-weight: bolder;  
        font-size: 18px; 
    }
    
    #link:hover{
        color: rgb(1, 1, 124);
    }
    
    #pergunta{
        font-size: 18px;
        margin: 2px;
    }
}


@media (max-width: 750px) {

    *{
        font-size: 9px;
        color: white;
    }

    #titulo{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        margin-bottom: 20px;
    }
    
    #link{
        color: white;
        font-weight: bolder;  
        font-size: 12px; 
    }
    
    #link:hover{
        color: rgb(1, 1, 124);
    }
    
    #pergunta{
        font-size: 12px;
        margin: 2px;
    }

}